{% extends 'base.html.twig' %}

{% block body %}
		<h1>Cellar - {{ db.name }} @ {{ date|date('d/m/Y H:i:s') }}</h1>
		<div id="ws-content-receiver">
			Connecting...
		</div>

		<div class="row">
			{% for sensor in db.sensors %}
			<div class="col">
				<div class="panel panel-warning" id="sensor_{{ sensor.id }}_state">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-thermometer-quarter fa-5x" id="sensor_{{ sensor.id }}_temperature_icon"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge" id="sensor_{{ sensor.id }}_temperature_value">???</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			{% for sensor in db.sensors %}
				<div class="col">
					<div class="panel panel-warning" id="sensor_{{ sensor.id }}_state">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-tint fa-5x" id="sensor_{{ sensor.id }}_humidity_icon"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge" id="sensor_{{ sensor.id }}_humidity_value">???</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% for sensor in db.sensors %}
		<div class="row">
			<div class="col"><img src="/api/{{ db.id }}/sensors/{{ sensor.id }}/graph/temperature?t={{ date|date('U') }}" /></div>
			<div class="col"><img src="/api/{{ db.id }}/sensors/{{ sensor.id }}/graph/humidity?t={{ date|date('U') }}" /></div>
		</div>
	{% endfor %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		(function () {
			'use strict';

			var _receiver = document.getElementById('ws-content-receiver');
			var ws = new WebSocket('ws://{{ ws_url }}');

			ws.onopen = function () {
			};

			ws.onmessage = function (event) {
				try {
					var sensor_raw_data = JSON.parse(event.data);
					console.log(sensor_raw_data);

					var header_content = [];
					for(var k in sensor_raw_data.sensor_data) {
						$('#sensor_' + sensor_raw_data.sensor_data[k].sensor.id + '_temperature_value').html(sensor_raw_data.sensor_data[k].temperature + '°C');
						$('#sensor_' + sensor_raw_data.sensor_data[k].sensor.id + '_humidity_value').html(sensor_raw_data.sensor_data[k].humidity + '%');
					}
				} catch (error) {
					console.log(error);
				}
			};

			ws.onclose = function () {
			};

			ws.onerror = function () {
			};
		})();
	</script>
{% endblock %}